
.main-content-container {
    padding-top: 80px; 
  }
  
  .custom-button {
    display: inline-flex;
    align-items: center;
    border: 2px solid #d6b8ff;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #f8f4ff;
    color: #7e3ef5;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    margin-bottom: 50px; 
  }
  
  .custom-button:hover {
    background-color: #ede3ff;
  }
  
  .new-feature {
    background-color: white;
    border: 2px solid #d6b8ff;
    border-radius: 30px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .feature-text {
    display: flex;
    align-items: center;
  }
  